body {
	font-family: "Open Sans", sans-serif;
	background-color: #f9f7fe;
}

select {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	padding: 10px;
	width: 100%;
	margin: 20px auto;
	margin-bottom: 0;
}

h1 {
	font-size: 32px;
	text-align: center;
}

h2 {
	font-size: 28px;
	margin: 0 0 5px 0;
}

a {
	color: f9f7fe;
	font-weight: 600;
	text-decoration: none;
	transition: 150ms ease-in-out;
}

a:hover {
	font-weight: 700;
	text-decoration: underline;
}

.container {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
	border-radius: 15px;
	max-width: 600px;
	margin: 60px auto;
	padding: 30px;
	margin-bottom: 30px;
}

.default-cities {
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	padding: 20px 0;
}

.default-cities:last-child {
	border: none;
}

.date {
	opacity: 50%;
}

.time {
	font-size: 48px;
	font-weight: bold;
}

.time small {
	font-size: 20px;
	vertical-align: middle;
	line-height: 48px;
}

.all-cities {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.2);
	font-weight: 800;
	transition: 150ms ease-in-out;
}

.all-cities:hover {
	color: rgba(0, 0, 0, 0.8);
}

footer {
	font-size: 12px;
	text-align: center;
	opacity: 80%;
}
